<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arthur.pervasivenfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name="com.arthur.pervasivenfc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tags.to"
                    android:path="/test"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeSetting"
            android:label="@string/title_activity_change_setting"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadContact"
            android:label="@string/title_activity_read_contact"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayString"
            android:label="@string/title_activity_display_string" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MakeCall"
            android:label="@string/title_activity_make_call"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteString"
            android:label="@string/title_activity_write_string" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".WriteUri"
            android:label="@string/title_activity_write_uri" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".WriteSetting"
            android:label="@string/title_activity_write_setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".WriteCall"
            android:label="@string/title_activity_write_call" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".AddContact"
            android:label="@string/title_activity_add_contact" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".WriteDestination"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_write_destination" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arthur.pervasivenfc.MainActivity" />
        </activity>
        <activity
            android:name=".ReadDestination"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_read_destination" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beam"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_beam">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<data android:mimeType="application/vnd.com.example.android.beam"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MorpionActivity"
            android:label="@string/title_activity_morpion"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="state/data" />
            </intent-filter>
        </activity>
    </application>

</manifest>